<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <table border="1">
            <tr>
                <td>userId</td>
                <td>name</td>
                <td>email</td>
                <td>Edit</td>
            </tr>
            <% data.forEach((obj) => { %>
                <tr>
                    <td><%= obj.canid %></td>
                    <td><%= obj.fname +" "+obj.lname %></td>
                    <td><%= obj.email %></td>
                    <td><a href="/updateData/user/<%= obj.canid %>">Edit</a></td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
</html>