<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehya</title>
    <link rel="stylesheet" href="/public/task/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- Header section -->

    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href=""><img src="/public/task/imgs/Logo.svg" alt=""></a>
                </div>
                <nav class="nav-items">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Landings</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Help</a></li>
                        <li><button>Get it now</button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- main content -->
    <main id="main">
        <!-- hero section -->
        <section class="hero-section">
            <div class="container">
                <div class="hero">
                    <div class="hero-left">
                        <img src="/public/task/imgs/Hero.png" alt="" >
                    </div>
                    <div class="hero-right">
                        <h1 class="hero-title">Make your new life happier.</h1>
                        <p class="hero-subtitle">We work with several leading insurance companies to secure insurance
                            coverages tailored to meet your needs.</p>
                        <button class="btn">Get a consultation</button>
                    </div>
                </div>
            </div>
        </section>


        <!-- services section -->

        <section class="services-section">
            <div class="container">
                <div class="services">
                    <div class="text-group">
                        <p class="section-name">OUR SERVICES</p>
                        <h2 class="title">Insurance made simple for you</h2>
                        <p class="subtitle">We work with several leading insurance companies to secure
                            insurance
                            coverages tailored to meet your needs.</p>
                    </div>

                    <div class="services-advantages">
                        <div class="service-adv">
                            <span class="done-icon"><img src="/public/task/imgs/done.png" alt=""></span>
                            <p class="adv">Flexible products to make your life easier</p>
                        </div>
                        <div class="service-adv">
                            <span class="done-icon"><img src="/public/task/imgs/done.png" alt=""></span>
                            <p class="adv">Highest standards of service</p>
                        </div>
                        <div class="service-adv">
                            <span class="done-icon"><img src="/public/task/imgs/done.png" alt=""></span>
                            <p class="adv">Fast and reliable service</p>
                        </div>
                    </div>

                    <div class="services-cards">
                        <div class="service-card">
                            <div class="card">


                                <div class="icon"><img src="/public/task/imgs/Icon_Home.svg" alt=""></div>
                                <div class="service-desc">
                                    <h3 class="service-name">Home insurance</h3>
                                    <p class="service-description">Home insurance is a type of insurance policy that
                                        provides cover for your home.</p>
                                </div>
                                <button class="learn-more">Learn more <i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="service-card">
                            <div class="card">
                                <div class="icon"><img src="/public/task/imgs/Icon_Blood_Donation.svg" alt=""></div>
                                <div class="service-desc">
                                    <h3 class="service-name">Life insurance</h3>
                                    <p class="service-description">Helping you bridge gaps in your health care coverage
                                        during
                                        times of transition.</p>
                                </div>
                                <button class="learn-more">Learn more <i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="service-card">
                            <div class="card">
                                <div class="icon"><img src="/public/task/imgs/Icon_Car.svg" alt=""></div>
                                <div class="service-desc">
                                    <h3 class="service-name">Car insurance</h3>
                                    <p class="service-description">Car insurance is a type of insurance policy that
                                        provides
                                        cover for your car.</p>
                                </div>
                                <button class="learn-more">Learn more <i class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- tips section -->

        <section class="tips-section">
            <div class="container">
                <div class="tips">
                    <div class="text-group">
                        <p class="section-name">OUR TIPS FOR YOU
                        </p>
                        <h2 class="title">Reinventing your protection</h2>
                        <p class="subtitle">We share common trends, strategies ideas, opinions, short & long stories
                            from the team behind company.</p>
                    </div>

                    <div class="tips-images">
                        <div class="tips-img" id="family">
                            <div class="img-quote">
                                <img src="/public/task/imgs/Image.png" alt="">
                                <p class="quote">How to prevent and protect your family from Carbon monoxide</p>
                            </div>
                        </div>
                        <div class="tips-img" id="mom-son">
                            <div class="img-quote">
                                <img src="/public/task/imgs/Image2.png" alt="">
                                <p class="quote">
                                    Motherhood is the hardest and the best job ever</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- benefit section -->

        <section class="benefit-section">
            <div class="container">
                <div class="benefit">

                    <div class="benefit-card">
                        <div class="bcard">
                            <p class="section-name">YOUR BENEFITS</p>
                            <h2 class="title">We're your right insurance advocate</h2>
                        </div>
                    </div>
                    <div class="benefit-card">
                        <div class="bcard">
                            <div class="icon"><img src="/public/task/imgs/Donation.svg" alt=""></div>
                            <div class="benefit-desc">
                                <p class="benefit-name">We have the best prices</p>
                                <p class="benefit-description">
                                    Our insurance plans offers are priced the same everywhere else. We just make them
                                    easier for you to find.</p>
                            </div>

                        </div>
                    </div>
                    <div class="benefit-card">
                        <div class="bcard">
                            <div class="icon"><img src="/public/task/imgs/Icon_Protection.svg" alt=""></div>
                            <div class="benefit-desc">
                                <p class="benefit-name">We're your insurance advocate</p>
                                <p class="benefit-description">We will deal with the insurance companies for you, even
                                    after you've bought your plan.</p>
                            </div>

                        </div>
                    </div>
                    <div class="benefit-card">
                        <div class="bcard">
                            <div class="icon"><img src="/public/task/imgs/Icon_Neutron.svg" alt=""></div>
                            <div class="benefit-desc">
                                <p class="benefit-name">We're unbiased</p>
                                <p class="benefit-description">Our online tools help you decide what product is best for
                                    you. We're here to insurance plan you choose.</p>
                            </div>

                        </div>
                    </div>
                    <div class="benefit-card">
                        <div class="bcard">
                            <div class="icon"><img src="/public/task/imgs/Icon_CS.svg" alt=""></div>
                            <div class="benefit-desc">
                                <p class="benefit-name">We're available 24/7</p>
                                <p class="benefit-description">We have you back 24/7 between our online chat function,
                                    email and telephone support.</p>
                            </div>
                        </div>
                    </div>
                    <div class="benefit-card">
                        <div class="bcard">
                            <div class="icon"><img src="/public/task/imgs/Icon_Like.svg" alt=""></div>
                            <div class="benefit-desc">
                                <p class="benefit-name">We make insurance simple</p>
                                <p class="benefit-description">We're committed to making applying for insurance as
                                    simple as can be for our customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- seperator section -->

        <section class="seperator-section">
            <div class="container">
                <div class="hr"></div>
            </div>
        </section>

        <!-- rating-review section -->

        <section class="rating-review-section">
            <div class="container">
                <div class="rating-review">
                    <div class="review-card">
                        <div class="rcard">
                            <div class="user-imgs">
                                <div class="u-img"><img src="/public/task/imgs/Avatar-2.png" alt=""></div>
                                <div class="u-img"><img src="/public/task/imgs/Avatar-1.png" alt=""></div>
                                <div class="u-img"><img src="/public/task/imgs/Avatar.png" alt=""></div>
                            </div>
                            <div class="text"><span>Friendly</span> customer support team</div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="rating-card">
                            <div class="label"><span><img src="/public/task/imgs/Path.svg" alt=""></span>Trustpilot</div>
                            <div class="ratings">
                                <img src="/public/task/imgs/s.svg" alt="">
                                <img src="/public/task/imgs/s.svg" alt="">
                                <img src="/public/task/imgs/s.svg" alt="">
                                <img src="/public/task/imgs/s.svg" alt="">
                                <img src="/public/task/imgs/s.svg" alt="">
                            </div>
                            <div class="text"><span>4.6 out of 5 stars</span> from 8.6k reviews</div>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="rcard">
                            <div class="ricon"><img src="/public/task/imgs/Icon_Like.svg" alt=""></div>
                            <div class="text">We're making <span>insurance as simple as</span> can be</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <!-- footer section -->


    <footer class="footer-section">
        <div class="container">
            <div class="footer-up">
                <div class="left">
                    <div class="logo"><img src="/public/task/imgs/Logo_white.svg" alt=""></div>
                    <p class="slogan">Build a modern and creative website with crealand</p>
                    <div class="social-icons">
                        <a href=""><i class="fa-brands fa-google"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="right">
                    <h2 class="footer-title">Ready to get inspired? Submit your request and hear back as soon as
                        tomorrow</h2>
                    <form method="post" class="get-started">
                        <input type="text" name="email" id="email" placeholder="Your Email">
                        <button class="btn">Get Started</button>
                    </form>
                </div>
            </div>
            <div class="footer-down">
                <p class="copyright">Copyright &#169; 2019. Crafted with love.</p>
            </div>
        </div>
    </footer>

</body>

</html>