<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/kukukube/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h3>Alpesh Prajapati</h3>
        <p>24DEV091</p>
        <p class="score">score: <span id="score">0</span></p>
        <p class="counter">Time: <span id="counter">60</span></p>
      </div>
      <div class="main">
        <button id="play">Play</button>
        <div class="table">
          <table id="tbl">
            <tr>
              <td class="td"></td>
              <td class="td"></td>
            </tr>
            <tr>
              <td class="td"></td>
              <td class="td"></td>
            </tr>
          </table>
        </div>
        <div class="result"></div>
      </div>
    </div>

    <script src="/public/kukukube/script.js"></script>
  </body>
</html>
