*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 94%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* table tr:nth-child(odd) td:nth-child(even){
    background-color: black;
    color: white;
}

table tr:nth-child(even) td:nth-child(odd){
    background-color: black;
    color: white;
} */

.container table{
    width: 100%;
    height: 92%;
}

.container table tr{
    text-align: center;
}

input[type='text']{
    width: 100px;
}