<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/pagination/pagination.css">
</head>
<body>
    <div class="pagination">
        <button class="btn"><a href="">&lt;&lt;</a></button>
        <button class="btn"><a href="">&lt;</a></button>
        <p class="pg-num"><span id="page">1</span></p>
        <button class="btn"><a href="">&gt;</a></button>
        <button class="btn"><a href="">&gt;&gt;</a></button>
    </div>
</body>
</html>