<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tic-tac-toe</title>
    <link rel="stylesheet" href="/public/tic-tac-toe/style.css">
</head>
<body>
    <div class="container">
        <div class="users">
            <div class="my-id"><h4>Alpesh Prajapati</h4><p>24DEV091</p></div>
            <div class="user1 playing">name: <div id="u1" contenteditable="true">Player1</div>(0)</div>
            <div class="user2">name: <div id="u2" contenteditable="true">Player2</div>(X)</div>
            <button id="reset">Reset</button>
        </div>
        <div class="main">
            <div class="table">
                <table id="tbl">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div> 



    <script src="/public/tic-tac-toe/script.js"></script>
</body>
</html>