<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/addrowcol/style.css">
</head>
<body>
    <div class="nav">
        <h3>Alpesh Prajapati</h3>
        <p>Id : 24DEV091</p>
    </div>



    <div id="main">
        <div class="data">
            <p>column</p>
            <div class="upperbtn">
                <button id="cadd" class="btn inc">+</button>
                <button id="cremove" class="btn dec">-</button>
            </div>
            <table border="1" id="tbl">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="lowerbtn">
                <button id="radd" class="btn inc">+</button>
                <button id="rremove" class="btn dec">-</button>
            </div>
            <p>row</p>
        </div>
    </div>



    <script src="/public/addrowcol/script.js"></script>
</body>
</html>